body {
  text-align: center;
  font-family: 'Satisfy', cursive;
}

header {
  width: 100%;
  height: auto;
  background-color: lightblue;
}

header nav {
  width: inherit;
  height: auto;

  background-color: white;
}

header img {
  display: block;
}

header ul {
  position: absolute;
  top: 0;
  right: 1em;
}

header li {
  display: inline-block;
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: purple;
}

.menu {
  display: none;
}

h1 {
  width: 90%;
  border-radius: 30px;
  background-color: cyan;
  margin: 0 auto;
}

footer {
  width: 100%;
  height: auto;
  background-color: lightblue;
  border-radius: 5px;
}

footer ul {
  position: relative;
  bottom: 0;
  right: 40%;
}
footer li {
  display: inline-block;
  margin: 5px 0 5px 10px;
}

footer img {
  width: 48px;
  height: 48px;
  border-radius: 15px;
}

main figure {
  width: 40%;
  height: auto;
  display: inline-block;
  background-color: cyan;
  border-radius: 15px;
}

main figure img{
  width: 250px;
  height: 250px;
  border-radius: 5px;
  margin: 10px auto;
}

main figcaption {
  font-family: 'Philosopher', sans-serif;
  text-align: left;
  padding: 0 10px 10px 10px;
}

main a:hover{
  text-decoration: none;
}

main form input, textarea {
  display: block;
  margin: auto;
}

map iframe {
  margin: 10px 0;
  width: 90%;
}

main table {
  margin: 10px auto;
  border-collapse: collapse;
}

main table caption {
  margin-bottom: 10px;
  border: 2px ridge black;
  border-radius: 10px;
  background-color: cyan;
}

thead {
  background-color: blue;
}
